<div class="main_result_wrapper">

    <!-- Column Headers -->

    <div class="row hidden-xs col-sm-10 col-md-10 header-row">

        <div class="device_image col-md-2 col-sm-2">
         <span class="header-text"> Username </span>
     </div>

     <div class="col-md-3 col-sm-3">
        <span class="header-text"> Full Name  </span>
    </div>

    <div class="col-md-2 col-sm-2">
        <span class="header-text"> Email </span>
    </div>

    <div class="col-md-4 col-sm-4">
        <span class="header-text"> Permission Group </span>
    </div>

    <div class="col-md-1 col-sm-1">
        <span class="header-text"> Options </span>
    </div>

</div> 
<!-- Column Headers end -->
<div class="result_rows">
    <% @users.each do |user| %>
    <!-- Get the deivce image based on what the user put in -->
    
    <%= link_to edit_user_path(user), class: "net_form_row_a" do %>

        
            <div class="row col-sm-10 col-md-10 net_form_row">

                <div class="device_image col-md-2 col-sm-2 col-xs-6">
                    <%= user.username %>
                </div>

                <div class="col-md-3 col-sm-3">
                    
                </div>

                <div class="col-md-2 col-sm-2">
                    
                </div>

                <div class="col-md-4 col-sm-4">
                    <% if user.admin? %>
                    Admin
                    <% else %>
                    Not Admin
                    <% end %>
                </div>

                <div class="col-md-1 col-sm-1">
                <!-- options put things in here soon -->
                </div>
            </div> 
        

    <% end %>
<% end %>
</div>
</div> 

