
<% # The index page will now handle the searches %>
<%= form_tag("/search", method: "get") do %>
  <div class="row">
  <div class="col-lg-6 col-md-6 col-sm-6 ">
    <div class="input-group">
       <%= text_field_tag(:full_name, params[:full_name], class: "form-control form-search-bar") %>
      <span class="input-group-btn">
        <%= submit_tag("Search", name: nil, class: "btn btn-default") %>
      </span>
    </div><!-- /input-group -->
  </div><!-- /.col-lg-6 -->
</div><!-- /.row -->
<% end %>


<%= render 'formResult' %>

