// Place all the styles related to the Net_forms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import url(http://fonts.googleapis.com/css?family=Karla);
body {
	font-family: 'Karla', sans-serif;
	padding-top: 70px;
}

/* ============= Bootstrap Modifications ============ */

.container-fluid {
	width: 100%;
	padding: 0px;
}

.sidebar {
	padding: 0px;
	position: fixed;
}


.sidebar a {
	padding: 7px 10px 7px 20% ;
	}



/* ============= Bootstrap Modifications End ============ */

/* ============= CSS for the form ============ */
.remove_printer {
	display: inline-block;
	font-size: 2.0em;
	font-weight: bold;
	padding: 0px 5px 0px 5px;
	vertical-align: middle;
	
	
	.btn {
		border: 1px solid black;
		border-radius: 2px;
		padding: 0px 6px 0px 6px;
		font-weight: bold;
	}

	&:hover {
	color: tomato
	}

}

.printer_input {
	margin: 5px 0px 0px 0px
}

/* ============== Form CSS End =================== */


.nav-sidebar li {
	height: 40px;

	&:hover {
		background-color: #eee;
	}
}