// Place all the styles related to the Net_forms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import url(http://fonts.googleapis.com/css?family=Karla);
* {
	font-family: 'Karla', sans-serif;
}

.adv_search_button {
	width: 70px;
	height: 20px;
	padding: 5px;
	color: white;
	background: tomato;
	-moz-transition-duration: 0.5s;
	
	&:hover {
		background: red;
	}

}

.adv_search {
	display: inline;
}

.remove_printer {
	display: inline-block;
	font-size: 2.0em;
	font-weight: bold;
	padding: 0px 5px 0px 5px;
	vertical-align: middle;
	
	
	.btn {
		border: 1px solid black;
		border-radius: 2px;
		padding: 0px 6px 0px 6px;
		font-weight: bold;
	}

	&:hover {
	color: tomato
	}



}

.printer_input {
	margin: 5px 0px 0px 0px
}
