// Place all the styles related to the Net_forms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import url(http://fonts.googleapis.com/css?family=Karla);
body {
	font-family: 'Karla', sans-serif;
	padding-top: 70px;
}

/* ============= Bootstrap Modifications ============ */

.container-fluid {
	width: 100%;
	padding: 0px;
}

.sidebar {
	top:50px;
	padding: 0px;
	position: fixed;
	background-color:#fff;
	border: 1px solid #efefef;
	z-index: 10;
	height: 100%;

	a {
	padding: 7px 10px 7px 20% ;
	}
}





/* ============= Bootstrap Modifications End ============ */


/* ======= CSS For main pages ============= */
.nav-sidebar {
	padding-top: 30px;

	li {
		min-width:135px;
	}
}


.finished-text {
	position: relative;
	width: 20%;
	height: 100%; 
	margin: auto;

	img {
		position: relative;
		width: 100%;
		
	}

	p {
	width: 100%; 
	padding-top: 15px;
	text-align: center;
	font-size: 2em;
	color: #f1f1f1;
	}
}


.sidebarSlideOut {
	-webkit-animation: sidebarSlideOut 0.5s cubic-bezier(.2,.64,.35,.99);
	-moz-animation: sidebarSlideOut 0.5s cubic-bezier(.2,.64,.35,.99);
	animation: sidebarSlideOut 0.5s cubic-bezier(.2,.64,.35,.99);
}

.sidebarSlideIn {
	-webkit-animation: sidebarSlideIn 0.5s cubic-bezier(.2,.64,.35,.99) forwards;
	-moz-animation: sidebarSlideIn 0.5s cubic-bezier(.2,.64,.35,.99) forwards;
	animation: sidebarSlideIn 0.5s cubic-bezier(.2,.64,.35,.99) forwards;
}




/* ======= main pages CSS end ============= */



/* ============= CSS for the form ============ */

 .header-row {
 	margin-bottom: 20px;
 }

.header-text {
	font-weight: bold;
	text-align: center;
}


.printer_input {
	padding-top: 10px;
}

.result_wrapper {
	position: relative;
	padding-top: 20px;

	-webkit-animation: slideFadeIn 0.4s ease-out;
	-moz-animation: slideFadeIn 0.4s ease-out;
	animation: slideFadeIn 0.4s ease-out;
	
}


/* ============== Form CSS End =================== */


.nav-sidebar li {
	height: 40px;

	&:hover {
		background-color: #eee;
	}
}

/* ====== Media Queries ============ */

@media screen and (max-width: 768px) {
	.device_image {
	height: 100px;
	width: 150px;
		img {
			width: 100px;
		}
	}
}

/* ====== Media Queries end ============ */



/* ============== Keyframes ============ */

	/* Firefox Keyframes */

		@-moz-keyframes slideFadeIn {
			0% {left:15px; opacity: 0.6 }
			100% {left:0px; opacity: 1}
		}

		@-moz-keyframes sidebarSlideOut {
			0% {left: -240px}
			100% {left:0px; opacity: 1}
		}

		@-moz-keyframes sidebarSlideIn {
			0% {left: 0px}
			100% {left: -240px; opacity: 1}
		}



		


	/* Firefox Keyframes end */

	/* Chrome - Safari Keyframes */

	@-webkit-keyframes slideFadeIn {
			0% {left:15px; opacity: 0.6 }
			100% {left:0px; opacity: 1}
		}

		@-webkit-keyframes sidebarSlideOut {
			0% {left: -100%}
			100% {left:0px; opacity: 1}
		}

		@-webkit-keyframes sidebarSlideIn {
			0% {left: 0px}
			100% {left: -45%; opacity: 1}
		}

	/* Chrome - Safari Keyframes End */

	/* IE Keyframes End */

	@keyframes slideFadeIn {
			0% {left:15px; opacity: 0.6 }
			100% {left:0px; opacity: 1}
		}

		@keyframes sidebarSlideOut {
			0% {left: -240px}
			100% {left:0px; opacity: 1}
		}

		@keyframes sidebarSlideIn {
			0% {left: 0px}
			100% {left: -240px; opacity: 1}
		}

	/* IE Keyframes End */



/* =========== Keyframes End ========== */