.devise_body {
	background-image: url("../assets/grey_tile_background.png");
}


.signup-form-wrapper {
	position: relative;
	display: block;

	width: 430px;

	margin: auto;
	
  background-color: #f5f5f5;
  box-shadow: 4px 4px 7px rgba(45,45,45,0.5);
  
  border-radius: 8px;
  border: 1px solid grey;

}

.sign-in-header {
	text-align: center;
}


/*
	========= Alert and notice styles =========
*/


.signin-notice {
	background-color: #5fcf80;
	border-color: #5fcf80;
	color: #FFF;
	text-align: center;
}

.signin-alert {
	background-color: #d64242;
	border-color: #d64242;
	color: #FFF;
	text-align: center;
}


.login-form-inputs {

padding: 30px;
	
	.input-group-addon {
		top: 0px;
	}

	div {
	margin: 15px 0px;

		&:first-child {
			
		}
	}

}

.user-radio-button {

display: none;

 	 background-color: #fff;
		border: 1px solid black;

	&:not(:checked) + label, &:checked + label  {
		content: "";
		positition: relative;
		width: 100px;
		margin: 10px 0px;

		display: block;
		padding: 6px 12px;
		font-size: 14px;
		font-weight: 400;
		line-height: 1.42857143;
		text-align: center;
		white-space: nowrap;
		vertical-align: middle;
		cursor: pointer;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		background-image: none;
		border-radius: 4px;

			& + p {
				max-width: 300px;
				text-align: justify;
			}

		}

		&:not(:checked) + label {
		background-color: #fff;
		border: 1px solid black;
		}

		&:checked + label {
		color: #fff;
		background-color: #3071a9;
		border-color: #285e8e;
		border: 1px solid transparent
		}

	}
	
	.form-checkbox {
		@extend .form-radio-button;

		&:checked + label {
			background-color: green;
		}
	}



@media screen and (max-width: 768px) {


	
} /*  Media Query end */

